section h1 {
  text-align: center;
}
section img {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: auto;
  float: left;
}
section h3 {
  padding: 18px 105px 0 440px;
}
section h4 {
  padding: 0 105px 0 440px;
}
section h5 {
  padding: 0 105px 0 440px;
}
footer {
  position: absolute;
  bottom: 0;
}
