<div class="social-pluggins" style=" padding-top:31px; float:right;">
  <div class="fb-like" data-send="false" data-width="70" data-show-faces="false" style="float:left; overflow:hidden; padding-right: 10px;" data-href="<%= url %>" data-layout="button_count" data-show-faces="false"></div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= url %>" data-text="<%= share_text %>" data-lang="pt" style="width:100px;">Tweetar</a>
</div>